@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

.bg-red{background-color:  #ae0000;}

a.SocialStyle{
    color:#ae0000;
  }

  .SocialStyle:hover{
    color:grey;
  }

  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }